<table>
  <th>Title</th>
  <th>Quantity</th>
  <th>Description</th>
  <th>Price</th>
  <th></th>
  <th>Subtotal</th>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td class="title"><%= cart_item.title%></td>
      <td class="quantity"><%= cart_item.quantity %></td>
      <td class="description"><%= cart_item.description%></td>
      <td class="price"><%= cart_item.price %></td>
      <td class="remove"><%= link_to "Remove", cart_item_path(cart_item), method: :delete %></td>
      <td class="subtotal">$<%= cart_item.subtotal %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='total-header'>Total:</td>
    <td class='cart-total'><%= @cart.total %></td>
  </tr>
</table>